{% extends 'base.html' %}

{% load static %}
   
{% block content %}

    
    <!-- Detail Information -->
    <div class="container-fluid" style="margin-top: 50px;width: 800px;margin-left: 30%;margin-bottom: 100px;">

        <div class="row">
            <div name="title" style="font-family:'Bebas Neue' ;font-size: 34px;margin-left:8px ;color:#1F1342;" id="title"> Lost my Iphone <span>
                <button style="border: none;background-color: transparent;" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{% static 'images/converation.png'%}" width="40" height="40" style="margin-left:130px;margin-top: 10px;"></button></span> 
            </div> 
        </div>
 
    <img src="{% static 'images/user.png'%}" width="26" height="26" style="margin-left:8px ;border-radius: 30px;">&nbsp;&nbsp;<span style="font-family: 'Bebas Neue';font-size: 18px;margin-top: 5px;color:#1F1342;" id="username">Maddison</span>
    <span class="text-muted" style="margin-left: 30px;" id="time">1 min ago</span>

    <br>

    <img src="{% static 'images/girl.jpg'%}" id="upload_img" style="margin-left: 10px;border-radius: 10px;margin-top: 10px;" width="400" height="200">
    <br>
    <div class="row mt-4">
        <ul style="list-style-type: none;margin-left: 8px;line-height: 5px;">
            <li class=""><span style="font-family: 'Bebas Neue';font-size: 20px;color:#1F1342;">Status :</span> <span class="" style="font-size: 18px;color: #02f016;"> Active</span></li><hr style="width: 400px;">
            <li class=""><span style="font-family: 'Bebas Neue';font-size: 20px;color:#1F1342;">Location :</span> <span class="text-muted" style="font-size: 18px;"> Botahtaung</span></li><hr style="width: 400px;">
            <li class=""><span style="font-family: 'Bebas Neue';font-size: 20px;color:#1F1342;">Description :</span> <span class="text-muted" style="font-size: 18px;"> Red cover</span></li>

        </ul>
    </div>
    <br>
    <a href="{% url 'Lost Post Overall' %}">
    <button type="button" style="margin-left: 8px;color: #ffffff;background-color: #1F1342;width: 400px;height:40;font-family: 'Bebas Neue';border-radius: 2rem;font-size: 24px;">Back</button>
    </a>

    </div>

{% endblock %}

    
   