{% extends 'base.html' %}

{% load static %}
   
{% block content %}
        <div id="search-container">
            <input type="text" id="search-bar" placeholder="Type item keyword...">
            <div id="search-icon">
                <img src="{% static 'images/search.png'%}" alt="Search">
            </div>
        </div>
      
    <div class="profiles">
        <div class="profile-card">
            <div class="profile-details">
                <img src="{% static 'images/user.png'%}" alt="User Profile Photo" class="profile-photo">
                <div class="profile-name">John</div>
                <div class="profile-time">1 min ago</div>
            </div>
            <img src="{% static 'images/girl.jpg'%}" alt="Additional image" class="additional-image">
            <ul class="list">
                <li class="list-item"><b>Post title: </b>Lost my phone</li>
                <li class="list-item"><b>Item: </b>vivo</li>
                <li class="list-item"><b>Location: </b>UIT</li>
            </ul>
            <a href="{% url 'Lost Post Detail' %}"><button class="details-button">Detail</button></a>
        </div>
    
    </div>

</div>


{% endblock %}

