{% extends 'base.html' %}

{% load static %}
   
{% block content %}


    <div class="profiles">
        <div class="profile-card">
                <div class="profile-name">LOST MY PHONE</div>
                <div class="profile-time">Date: 28.8.2023</div>
            <img src="{% static 'images/girl.jpg'%}" alt="Additional image" class="additional-image">
            <ul class="list">
                <li class="list-item"><b>Location: </b>UIT</li>
                <li class="list-item"><b>Description: </b>Red Cover</li>
            </ul>
            <div class="details">
            <button class="details-button1"><a href="#">EDIT</a></button>
            <button class="details-button2"><a href="#">DELETE</a></button>
            </div>
        </div>      
    </div>


{% endblock %}
